<div class="container">
    <h1>Lista de Animes</h1>
    <div class="row">
        <app-anime class="col-6 col-lg-4" *ngFor="let anime of animeList$ | async" [id]="anime.id"></app-anime>
    </div>


    <div class="d-flex justify-content-center m-5" style="z-index: 1;" *ngIf="(animeList$ | async) as animes">
        <pagination [boundaryLinks]="true" [totalItems]="animes.length" previousText="&lsaquo;" nextText="&rsaquo;"
            (pageChanged)="pageChanged($event)" [itemsPerPage]="itemsPerPage" firstText="&laquo;" lastText="&raquo;">
        </pagination>
    </div>
</div>